In [ ]:
import pandas as pd
import numpy as np
import statistics
from datetime import datetime
import datetime
import random
import itertools
from scipy.stats import norm
#import seaborn as sns
import math
import random
import sklearn
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds

In [ ]:
data= pd.read_csv(r'C:\Users\idigoras.a\OneDrive - Procter and Gamble\05. Trainings&Acces\FODS 3\Project\Sell Out - CRF.xlsx')
#data = data[data['Category'] == 'CHAMPUS']
data.head()

,Month,Category,Shoppers,Transactions,Units,Frequency,Bulk Units,AVG Price,Basket Size,Bulk Share
0,3/1/2024 0:00,CHAMPUS,335902,335902,387252,169.525067,81990,956.407439,208.921977,21%
1,3/1/2024 0:00,DETERGENTES LAVADORA,83076,83076,142114,57.606109,120333,746.786080,83.379585,85%
2,3/1/2024 0:00,LIMPIEZA VAJILLAS MANO,102039,102039,150334,20.013392,65408,81.434848,33.599465,44%
3,3/1/2024 0:00,LIMPIEZA VAJILLAS MAQUINA,23911,23911,33176,30.237343,16282,366.676594,41.833717,49%
4,2/1/2024 0:00,CHAMPUS,144024,144024,183310,168.376445,77195,933.210688,205.207331,42%

In [188]:
# Convert 'Month' column to datetime type if it's not already
data['Month'] = pd.to_datetime(data['Month'])

# Exclude non-numeric columns from the correlation analysis
numeric_data = data.select_dtypes(include=['float64', 'int64'])

# Calculate the correlation between each column and 'Units'
correlation_with_units = numeric_data.corr()['Units'].sort_values(ascending=False)

# Print the correlation coefficients
print("Correlation with 'Units' column:")
print(correlation_with_units)

Correlation with 'Units' column:
Units           1.000000
Shoppers        0.983938
Transactions    0.983938
Basket Size     0.733741
Frequency       0.722955
AVG Price       0.460982
Bulk Units      0.435254
Name: Units, dtype: float64

In [189]:
# Convert 'Month' column to datetime type if it's not already
data['Month'] = pd.to_datetime(data['Month'])

# Calculate the total weight of bulk units and total weight of all units by category
category_total_weight_bulk_units = data.groupby('Category')['Bulk Units'].sum()
category_total_weight_units = data.groupby('Category')['Units'].sum()



# Calculate the share of bulk units' weight compared to the total weight of all units by category
category_bulk_units_share_weight = category_total_weight_bulk_units / category_total_weight_units.astype(int)
category_bulk_units_share_weight.head()

Category
CHAMPUS                      0.235532
DETERGENTES LAVADORA         0.749682
LIMPIEZA VAJILLAS MANO       0.364569
LIMPIEZA VAJILLAS MAQUINA    0.575991
dtype: float64

In [211]:
import pandas as pd

# Load the data
data = pd.read_csv(r'C:\Users\idigoras.a\OneDrive - Procter and Gamble\02. CRF\AdHoc\CRF_Analysis_Leadership\bulk sizing\analysis_in_py.csv')
# Convert 'Month' column to datetime
data['Month'] = pd.to_datetime(data['Month'])


# Check the structure and first few rows of the dataset
print(data.head())

# Check data types and missing values
print(data.info())

       Month                   Category  Shoppers  Transactions   Units  \
0 2024-03-01                    CHAMPUS    335902        335902  387252
1 2024-03-01       DETERGENTES LAVADORA     83076         83076  142114
2 2024-03-01     LIMPIEZA VAJILLAS MANO    102039        102039  150334
3 2024-03-01  LIMPIEZA VAJILLAS MAQUINA     23911         23911   33176
4 2024-02-01                    CHAMPUS    144024        144024  183310

    Frequency  Bulk Units   AVG Price  Basket Size Bulk Share
0  169.525067       81990  956.407439   208.921977        21%
1   57.606109      120333  746.786080    83.379585        85%
2   20.013392       65408   81.434848    33.599465        44%
3   30.237343       16282  366.676594    41.833717        49%
4  168.376445       77195  933.210688   205.207331        42%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         108 non-null    datetime64[ns]
 1   Category      108 non-null    object
 2   Shoppers      108 non-null    int64
 3   Transactions  108 non-null    int64
 4   Units         108 non-null    int64
 5   Frequency     108 non-null    float64
 6   Bulk Units    108 non-null    int64
 7   AVG Price     108 non-null    float64
 8   Basket Size   108 non-null    float64
 9   Bulk Share    108 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 8.6+ KB
None